

    <main id="main" >
        <div class="container mt-2">
            <h1 class="text-center">About Me:</h1>
            <p>Hey there, my name is Collin Gilmore, I created this website. I have a BS in Biology and a Chemistry minor, and am currently enrolled at OSU for a BS in Computer Science, and love cooking.</p>
            <p>After graduating with my Biology degree, I found that cooking reminded me of bio/chem lab work. Precise ingredients, measurements, and times allow for infinite possibilities of food creation.
                After moving away from home, I realized how much I missed some of my parents' recipes and wanted a cookbook with all their great recipes I grew up with. 
            </p>
            <p>
                I decided I wanted to have my own cookbook full of all the recipes I love and find over the years. I didn't want a paper cookbook though, 
                I wanted something available anywhere and everywhere, and something I could share with friends and family. Not liking many of the online recipe websites, 
                I've been wanting to make my own for some time, and thanks to my computer science program and my own studies in web development I'm finally able to do just
                that. Hope you enjoy it.
            </p>
            <p>- Collin Gilmore</p>
            <a href="/CollinGilmoreResume.pdf" download>Download my resume</a>
            <a target="_blank" href="https://www.linkedin.com/in/collin-gilmore/"><i style="font-size: 2rem;" class="ms-3 fab fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/nilloc95"><i style="font-size: 2rem;" class="ms-3 fab fa-github"></i></a>
        </div>
    </main>
    
