<section>
    <h1 style="text-align: center;">{{data.userName}}'s Liked Recipes:</h1> 
    <h3 style="text-align: center;"><a class="author border-bottom"  href="/profile/{{data.userId}}">See Recipes {{data.userName}} Created</a></h3><br>

    {{> card}}
</section>
