

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="card text-center" style="width: 30rem;">
                <div class="card-body">
                    <h3 class="card-title"><span class="mx-2">MyCookBook</span> <i class="fas fa-utensils"></i></h3>
                    <br>
                    <h5 class="card-subtitle mb-2">Sign in to create, review, and save recipes to your custom cookbook</h5>
                    <br> <hr>
                    <a href="/auth/google" class="btn btn-outline-primary my-3">
                        <i class="fab fa-google left px-2"> <span class="mx-2">Sign In With Google</span> </i>
                    </a>
                </div>
            </div>
        </div>
             
    </div>
        
  