<section>
    <h1 style="text-align: center;">{{data.userName}}'s Recipes:</h1> 
    <h3 style="text-align: center;"><a class="author border-bottom"  href="/profile/likes/{{data.userId}}">See Liked Recipes</a></h3><br>

    {{> card}}
</section>

